.jotting-pane {
  height: 100vh;
  background: #DADDE0;
  display: flex;
  flex-flow: column;
  padding: 0;
}

.jot-entry-container {
  max-height: 100vh;
  overflow-y: scroll;
  flex: 1;
}

#jot-form {
  background: white;
  width: 100%;
}

#jot-form .jot-form-header {
  height: 3em;
  padding: 11px;
  background: black;
  color: white;
}

#jot-form .jot-form-header > div {
  display: inline-block;
  float: right;
}

#jot-form .jot-form-header .jot-form-header-title {
  float: left;
}

#jot-form .jot-form-header > div > a {
  margin-left: 5px;
}