.jotting-pane {
  height: 100vh;
  background: #DADDE0;
  display: flex;
  flex-flow: column;
  padding: 0;
}

.jot-entry-scroll {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

.jot-entry-container {
  max-height: 100vh;
  min-height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.jot-entry {
  width: 100%;
  padding: 15px;
  background: #F0F1F2;
  margin: 10px 0;
  &:hover {
    cursor: pointer;
    background: #FFFFFF;
  }
  &.active {
    background: #FFFFFF;
  }
}

#jot-form {
  background: white;
  width: 100%;
}

#jot-form .jot-form-header {
  height: 3em;
  padding: 11px;
  background: black;
  color: white;
}

#jot-form .jot-form-header > div {
  display: inline-block;
  float: right;
}

#jot-form .jot-form-header .jot-form-header-title {
  float: left;
}

#jot-form .jot-form-header > div > a {
  margin-left: 5px;
}