.jotting-pane {
  height: 100vh;
  display: flex;
  flex-flow: column;
  background: white;
  padding: 0;
}

.jot-entry-scroll {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}

.jot-entry-container {
  min-height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.jot-entry {
  width: 100%;
  padding: 0.5em 0;
  border-bottom: 0.5px solid #F0F1F2;
  &:hover {
    cursor: pointer;
    background: #F0F1F2;
  }
  &.active {
    background: #F0F1F2;
  }
}

.jot-entry-iteration {
  padding: 0 10px;
  margin: 0 5px;
  background: white;
  border: 0.5px solid white;
  width: 90%;
  white-space: pre-wrap;
}

.jot-entry.active, .jot-entry:hover {
  .jot-entry-iteration {
    border: 0.5px solid #DADDE0;
  }
}

#jot-form {
  background: white;
  width: 100%;
}

.jot-form-text {
  max-height: 5em;
}

.jot-form-header {
  height: 3em;
  padding: 11px;
  background: black;
  color: white;
}

.jot-form-header > div {
  display: inline-block;
  float: right;
}

.jot-form-header .jot-form-header-title {
  float: left;
}

.jot-form-header > div > a {
  margin-left: 5px;
}