html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.jotting-pane {
  height: 100%;
  min-height: 100vh;
  background: #DADDE0;
}

#jot-form {
  border-bottom: 1px solid #B3B6BB;
  padding-bottom: 30px;
}

#jot-form .jot-form-text {
  width: 100%;
  margin: 30px 0 10px 0;
  padding: 10px;
  border: none;
  outline: none;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  background: #EAEAEA;
  color: #B3B6BB;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 5px 15px;
}

.jot-entry {
  width: 100%;
  padding: 15px;
  background: #F0F1F2;
  margin: 15px 0;
}

.exploring-pane {
  height: 100%;
  min-height: 100vh;
  background: #FBFBFB;
}

.explore-entry {
  width: 100%;
  padding: 15px;
  background: #FFFFFF;
  margin: 15px 0;
  border: 1px solid #B3B6BB;
}

.explore-entry-edit {
  @extend .explore-entry;
  outline: none;
  resize: none;
}

.explore-button {
  margin-top: 30px !important;
}
