html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #DADDE0;
  font-family: 'Karla', sans-serif;
}

.hidden {
  display: none;
}

a, a:visited, a:active, a:hover {
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.dialog-box {
  display: none;
}

.ui-dialog .dialog-box {
  display: block;
}

.ui-dialog {
  background: #DADDE0;
}

.ui-widget-overlay {
  background: rgba(0,0,0,0.3);
}

.ui-dialog-titlebar {
  border-bottom: 1px solid #ccc;
}

.ui-dialog-titlebar-close {
  display: none;
}

.ui-button {
  background: white;
  outline: none;
  border: 1px solid black;
  &:active {
    background: black;
    color: white;
  }
}

.ui-tooltip {
  background: white;
  color: black;
  border: 0.5px dashed #ccc;
}

textarea {
  background: white;
  font-family: 'Space Mono', monospace;
  resize: none;
  width: 100%;
  margin: 0;
  padding: 10px;
  border: none;
  outline: none;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  background: #EAEAEA;
  color: #B3B6BB;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 5px 15px;
}

.flickity-prev-next-button {
  width: 15px;
  height: 15px;
  top: auto;
  bottom: 3px;
  &.next {
    right: 3.5%;
  }
  &.previous {
    left: 3.5%;
  }
  background: transparent;
}

.flickity-prev-next-button:disabled {
  display: none;
}